*{
    margin: 0;
    padding : 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#skinny-banner-container {
    width:100%;
    height:35px;
    background-color:#FFFFFF;
    border-top: 5px solid #DE2A61;
    background-color:  #DE2A61;
    text-align: center;
  
  }

 .skinnybanner{
    font-family: 'Apercu', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
    padding: 5px 0;
    color: #fff;
    text-align: center;
    cursor: pointer;
    -webkit-text-size-adjust: 100%;
 } 
 /* Style for the toggle link */
.toggle-link {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
  }
  
  /* Style for the description container */
  .description-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1000;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease; /* Smooth transition */
  }
  
  /* Style for the close button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
 
  .main-navbar{
    border-bottom: 1px solid #d22d2d;
}
.main-navbar .top-navbar{
    background-color: #2874f0;
    padding-top: 10px;
    padding-bottom: 10px;
}
.main-navbar .top-navbar .brand-name{
    color: #fff;
}
.main-navbar .top-navbar .nav-link{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}
.main-navbar .top-navbar .dropdown-menu{
    padding: 0px 0px;
    border-radius: 0px;
}
.main-navbar .top-navbar .dropdown-menu .dropdown-item{
    padding: 8px 16px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
}
.main-navbar .top-navbar .dropdown-menu .dropdown-item i{
    width: 20px;
    text-align: center;
    color: #2874f0;
    font-size: 14px;
}
.main-navbar .navbar{
    padding: 0px;
    background-color: #ddd;
}
.main-navbar .navbar .nav-item .nav-link{
    padding: 8px 20px;
    color: #000;
    font-size: 15px;
}

@media only screen and (max-width: 600px) {
    .main-navbar .top-navbar .nav-link{
        font-size: 12px;
        padding: 8px 10px;
    }
}
.dropdown:hover>.dropdown-menu {
    display: block;
  }
  
  .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
  }

  .dropdown{
    padding-top: 6px;
  }